
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor config
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Virtual environments
.venv/
env/
venv/

# PyInstaller
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Log files
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.bak
*.tmp
